docs/ASP ONE/Documentation_XML-EDI (1)/Schemas/TypeBase.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<!-- Definition d'un EMAIL -->
	<xs:simpleType name="Email">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
			<xs:pattern value="(([_\w][-._\w]*)|([-._\w]*[_\w]))@\w[-._\w]*\w\.\w{2,}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Numéro d'agrément -->
	<xs:simpleType name="Agrement">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{7}" />
		</xs:restriction>
	</xs:simpleType>	
	
	<!-- Definition d'un SIRET -->
	<xs:simpleType name="Siret">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{14}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un SIREN -->
	<xs:simpleType name="Siren">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Pseudo SIRET -->
	<xs:simpleType name="PseudoSiret">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{14}" />
		</xs:restriction>
	</xs:simpleType>	
	
	<!-- Definition d'un Pseudo SIREN -->
	<xs:simpleType name="PseudoSiren">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{9}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un pseudo SIREN ou SIRET -->
	<xs:simpleType name="PseudoSirenSiret">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{9}|[0-9A-Z]{14}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un numéro fiscal -->
	<xs:simpleType name="NumeroFiscal">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une ROF -->
	<xs:simpleType name="Rof">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
			<xs:pattern value="[A-Z]{2,}[0-9]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un IBAN Français / Monégasque -->
	<xs:simpleType name="IbanFrMc">
		<xs:restriction base="xs:string">
			<xs:maxLength value="27" />
			<xs:pattern value="(FR|MC)[A-Z0-9]{25}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un IBAN SEPA -->
	<xs:simpleType name="IbanSepa">
		<xs:restriction base="xs:string">
			<xs:minLength value="15" />
			<xs:maxLength value="34" />
			<xs:pattern value="[A-Z]{2}[0-9]{2}[A-Z0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un code BIC -->
	<xs:simpleType name="Bic">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11" />
			<xs:pattern value="[A-Z0-9]{8}|[A-Z0-9]{11}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Numéro de Compte -->
	<xs:simpleType name="NumeroCompte13">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{13}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Numéro de Compte -->
	<xs:simpleType name="CompteNumero">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2,12}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Numéro de Compte Général -->
	<xs:simpleType name="CompteGeneralNumero">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-8][0-9]{2,11}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'un Code Bancaire (établissement, guichet...) -->
	<xs:simpleType name="CodeBancaire">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{5}" />
		</xs:restriction>
	</xs:simpleType>
		
	<!-- Definition d'une chaine contenant uniquement des lettres et des chiffres -->
	<xs:simpleType name="NumAndLetters">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9\-]+" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine contenant uniquement des lettres et des chiffres de longueur 2-->
	<xs:simpleType name="NumAndLetters2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine contenant uniquement des chiffres ou des lettres majuscules de longueur maximum 3 -->
	<xs:simpleType name="NumAndUpperLettersMax3">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,3}" />
		</xs:restriction>
	</xs:simpleType>
	
		<!-- Definition d'une chaine contenant uniquement des chiffres ou des lettres majuscules de longueur maximum 5 -->
	<xs:simpleType name="NumAndUpperLettersMax5">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{1,5}" />
		</xs:restriction>
	</xs:simpleType>
		
	<!-- Definition d'une chaine contenant uniquement des lettres en majuscules -->
	<xs:simpleType name="UpperLetters">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]+" />
		</xs:restriction>
	</xs:simpleType>
	
		<!-- Definition d'une chaine contenant uniquement 3 lettres en majuscules -->
	<xs:simpleType name="UpperLetters2Or3">
		<xs:restriction base="UpperLetters">
			<xs:minLength value="2" />
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine de caractères EDI -->
	<xs:simpleType name="StringEDI">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-zÀ-ÿ\s&amp;@%:=_'/,;\-\.\?\+\*\(\)°\\&gt;&lt;¤!#~`\{\}\[\]\|\t\r\n^$£&quot;¼½«»]*" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 512 caractères (sauts de ligne autorisés) -->
	<xs:simpleType name="String512">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 70 caractères -->
	<xs:simpleType name="String70">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 60 caractères -->
	<xs:simpleType name="String60">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 40 caractères -->
	<xs:simpleType name="String40">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 35 caractères -->
	<xs:simpleType name="String35">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 32 caractères -->
	<xs:simpleType name="String32">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 30 caractères -->
	<xs:simpleType name="String30">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 26 caractères -->
	<xs:simpleType name="String26">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="26" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 11 caractères -->
	<xs:simpleType name="String11">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="11" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 10 caractères -->
	<xs:simpleType name="String10">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 17 caractères -->
	<xs:simpleType name="String17">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="17" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 17 caractères -->
	<xs:simpleType name="String15">
		<xs:restriction base="StringEDI">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition d'une chaine sur 17 caractères -->
	<xs:simpleType name="UpperString2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres forcée sur 5 caractères -->
	<xs:simpleType name="DigitFix5">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres forcée sur 4 caractères -->
	<xs:simpleType name="DigitFix4">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres forcée sur 2 caractères -->
	<xs:simpleType name="DigitFix2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres forcée sur 3 caractères -->
	<xs:simpleType name="DigitFix3">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres sur max 4 caractères -->
	<xs:simpleType name="Digit4">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres sur max 5 caractères -->
	<xs:simpleType name="Digit5">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Booléen en Chiffre -->
	<xs:simpleType name="DigitBoolean">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-1]{1}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Definition du type Chaine de chiffres sur 4 caractères -->
	<xs:simpleType name="Decimal12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
			<xs:pattern value="[0-9]+(,[0-9]{1,4})?" />
		</xs:restriction>
	</xs:simpleType>	
	
	<!-- Definition d'une référence de déclaration -->
	<xs:simpleType name="ReferenceDeclaration">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
			<xs:pattern value="INFENT.*" />
		</xs:restriction>
	</xs:simpleType>
		
	<!-- Type Adresse -->
	<xs:simpleType name="TypeAdresse">
		<xs:restriction base="xs:string">
			<!-- BIS -->
			<xs:enumeration value="B" />
			<!-- TER -->
			<xs:enumeration value="T" />
			<!-- QUATER -->
			<xs:enumeration value="Q" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Indice de répétabilité de la voie -->
	<xs:simpleType name="RepetabiliteAdresse">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Indice de répétabilité de la voie -->
	<xs:simpleType name="CodePaysInsee">
		<xs:restriction base="xs:string">
			<xs:pattern value="99[12345][0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Code Pays ISO 3166 -->
	<xs:simpleType name="CodePays">
		<xs:restriction base="xs:string">
		<xs:enumeration value="FR" /> <!-- FRANCE -->
		<xs:enumeration value="AF" /> <!-- AFGHANISTAN -->
		<xs:enumeration value="ZA" /> <!-- AFRIQUE DU SUD -->
		<xs:enumeration value="AX" /> <!-- ALAND, ILES -->
		<xs:enumeration value="AL" /> <!-- ALBANIE -->
		<xs:enumeration value="DZ" /> <!-- ALGERIE -->
		<xs:enumeration value="DE" /> <!-- ALLEMAGNE -->
		<xs:enumeration value="AD" /> <!-- ANDORRE -->
		<xs:enumeration value="AO" /> <!-- ANGOLA -->
		<xs:enumeration value="AI" /> <!-- ANGUILLA -->
		<xs:enumeration value="AQ" /> <!-- ANTARCTIQUE -->
		<xs:enumeration value="AG" /> <!-- ANTIGUA-ET-BARBUDA -->
		<xs:enumeration value="SA" /> <!-- ARABIE SAOUDITE -->
		<xs:enumeration value="AR" /> <!-- ARGENTINE -->
		<xs:enumeration value="AM" /> <!-- ARMENIE -->
		<xs:enumeration value="AW" /> <!-- ARUBA -->
		<xs:enumeration value="AU" /> <!-- AUSTRALIE -->
		<xs:enumeration value="AT" /> <!-- AUTRICHE -->
		<xs:enumeration value="AZ" /> <!-- AZERBAIDJAN -->
		<xs:enumeration value="BS" /> <!-- BAHAMAS -->
		<xs:enumeration value="BH" /> <!-- BAHREIN -->
		<xs:enumeration value="BD" /> <!-- BANGLADESH -->
		<xs:enumeration value="BB" /> <!-- BARBADE -->
		<xs:enumeration value="BY" /> <!-- BELARUS -->
		<xs:enumeration value="BE" /> <!-- BELGIQUE -->
		<xs:enumeration value="BZ" /> <!-- BELIZE -->
		<xs:enumeration value="BJ" /> <!-- BENIN -->
		<xs:enumeration value="BM" /> <!-- BERMUDES -->
		<xs:enumeration value="BT" /> <!-- BHOUTAN -->
		<xs:enumeration value="BO" /> <!-- BOLIVIE, l'ETAT PLURINATIONAL DE -->
		<xs:enumeration value="BQ" /> <!-- BONAIRE, SAINT-EUSTACHE ET SABA -->
		<xs:enumeration value="BA" /> <!-- BOSNIE-HERZEGOVINE -->
		<xs:enumeration value="BW" /> <!-- BOTSWANA -->
		<xs:enumeration value="BR" /> <!-- BRESIL -->
		<xs:enumeration value="BN" /> <!-- BRUNEI DARUSSALAM -->
		<xs:enumeration value="BG" /> <!-- BULGARIE -->
		<xs:enumeration value="BF" /> <!-- BURKINA FASO -->
		<xs:enumeration value="BI" /> <!-- BURUNDI -->
		<xs:enumeration value="KY" /> <!-- CAIMANS, ILES -->
		<xs:enumeration value="KH" /> <!-- CAMBODGE -->
		<xs:enumeration value="CM" /> <!-- CAMEROUN -->
		<xs:enumeration value="CA" /> <!-- CANADA -->
		<xs:enumeration value="CV" /> <!-- CAP-VERT -->
		<xs:enumeration value="CF" /> <!-- CENTRAFRICAINE, REPUBLIQUE -->
		<xs:enumeration value="CL" /> <!-- CHILI -->
		<xs:enumeration value="CN" /> <!-- CHINE -->
		<xs:enumeration value="CX" /> <!-- CHRISTMAS, ILE -->
		<xs:enumeration value="CY" /> <!-- CHYPRE -->
		<xs:enumeration value="CC" /> <!-- COCOS (KEELING), ILES -->
		<xs:enumeration value="CO" /> <!-- COLOMBIE -->
		<xs:enumeration value="KM" /> <!-- COMORES -->
		<xs:enumeration value="CG" /> <!-- CONGO -->
		<xs:enumeration value="CD" /> <!-- CONGO, LA REPUBLIQUE DEMOCRATIQUE DU -->
		<xs:enumeration value="CK" /> <!-- COOK, ILES -->
		<xs:enumeration value="KR" /> <!-- COREE, REPUBLIQUE DE -->
		<xs:enumeration value="KP" /> <!-- COREE, REPUBLIQUE POPULAIRE DEMOCRATIQUE DE -->
		<xs:enumeration value="CR" /> <!-- COSTA RICA -->
		<xs:enumeration value="CI" /> <!-- CÔTE D'IVOIRE -->
		<xs:enumeration value="HR" /> <!-- CROATIE -->
		<xs:enumeration value="CU" /> <!-- CUBA -->
		<xs:enumeration value="CW" /> <!-- CURAÇAO -->
		<xs:enumeration value="DK" /> <!-- DANEMARK -->
		<xs:enumeration value="DJ" /> <!-- DJIBOUTI -->
		<xs:enumeration value="DO" /> <!-- DOMINICAINE, REPUBLIQUE -->
		<xs:enumeration value="DM" /> <!-- DOMINIQUE -->
		<xs:enumeration value="EG" /> <!-- EGYPTE -->
		<xs:enumeration value="SV" /> <!-- EL SALVADOR -->
		<xs:enumeration value="AE" /> <!-- EMIRATS ARABES UNIS -->
		<xs:enumeration value="EC" /> <!-- EQUATEUR -->
		<xs:enumeration value="ER" /> <!-- ERYTHREE -->
		<xs:enumeration value="ES" /> <!-- ESPAGNE -->
		<xs:enumeration value="EE" /> <!-- ESTONIE -->
		<xs:enumeration value="US" /> <!-- ETATS-UNIS -->
		<xs:enumeration value="ET" /> <!-- ETHIOPIE -->
		<xs:enumeration value="FK" /> <!-- FALKLAND, ILES (MALVINAS) -->
		<xs:enumeration value="FO" /> <!-- FEROE, ILES -->
		<xs:enumeration value="FJ" /> <!-- FIDJI -->
		<xs:enumeration value="FI" /> <!-- FINLANDE -->
		<xs:enumeration value="GA" /> <!-- GABON -->
		<xs:enumeration value="GM" /> <!-- GAMBIE -->
		<xs:enumeration value="GE" /> <!-- GEORGIE -->
		<xs:enumeration value="GS" /> <!-- GEORGIE DU SUD-ET-LES ILES SANDWICH DU SUD -->
		<xs:enumeration value="GH" /> <!-- GHANA -->
		<xs:enumeration value="GI" /> <!-- GIBRALTAR -->
		<xs:enumeration value="GR" /> <!-- GRECE -->
		<xs:enumeration value="GD" /> <!-- GRENADE -->
		<xs:enumeration value="GL" /> <!-- GROENLAND -->
		<xs:enumeration value="GU" /> <!-- GUAM -->
		<xs:enumeration value="GT" /> <!-- GUATEMALA -->
		<xs:enumeration value="GG" /> <!-- GUERNESEY -->
		<xs:enumeration value="GN" /> <!-- GUINEE -->
		<xs:enumeration value="GW" /> <!-- GUINEE-BISSAU -->
		<xs:enumeration value="GQ" /> <!-- GUINEE EQUATORIALE -->
		<xs:enumeration value="GY" /> <!-- GUYANA -->
		<xs:enumeration value="HT" /> <!-- HAITI -->
		<xs:enumeration value="HM" /> <!-- HEARD-ET-ILES MACDONALD, ILE -->
		<xs:enumeration value="HN" /> <!-- HONDURAS -->
		<xs:enumeration value="HK" /> <!-- HONG KONG -->
		<xs:enumeration value="HU" /> <!-- HONGRIE -->
		<xs:enumeration value="IM" /> <!-- ILE DE MAN -->
		<xs:enumeration value="UM" /> <!-- ILES MINEURES ELOIGNEES DES ETATS-UNIS -->
		<xs:enumeration value="VG" /> <!-- ILES VIERGES BRITANNIQUES -->
		<xs:enumeration value="VI" /> <!-- ILES VIERGES DES ETATS-UNIS -->
		<xs:enumeration value="IN" /> <!-- INDE -->
		<xs:enumeration value="ID" /> <!-- INDONESIE -->
		<xs:enumeration value="IR" /> <!-- IRAN, REPUBLIQUE ISLAMIQUE D' -->
		<xs:enumeration value="IQ" /> <!-- IRAQ -->
		<xs:enumeration value="IE" /> <!-- IRLANDE -->
		<xs:enumeration value="IS" /> <!-- ISLANDE -->
		<xs:enumeration value="IL" /> <!-- ISRAEL -->
		<xs:enumeration value="IT" /> <!-- ITALIE -->
		<xs:enumeration value="JM" /> <!-- JAMAIQUE -->
		<xs:enumeration value="JP" /> <!-- JAPON -->
		<xs:enumeration value="JE" /> <!-- JERSEY -->
		<xs:enumeration value="JO" /> <!-- JORDANIE -->
		<xs:enumeration value="KZ" /> <!-- KAZAKHSTAN -->
		<xs:enumeration value="KE" /> <!-- KENYA -->
		<xs:enumeration value="KG" /> <!-- KIRGHIZISTAN -->
		<xs:enumeration value="KI" /> <!-- KIRIBATI -->
		<xs:enumeration value="KW" /> <!-- KOWEIT -->
		<xs:enumeration value="LA" /> <!-- LAO, REPUBLIQUE DEMOCRATIQUE POPULAIRE -->
		<xs:enumeration value="LS" /> <!-- LESOTHO -->
		<xs:enumeration value="LV" /> <!-- LETTONIE -->
		<xs:enumeration value="LB" /> <!-- LIBAN -->
		<xs:enumeration value="LR" /> <!-- LIBERIA -->
		<xs:enumeration value="LY" /> <!-- LIBYE -->
		<xs:enumeration value="LI" /> <!-- LIECHTENSTEIN -->
		<xs:enumeration value="LT" /> <!-- LITUANIE -->
		<xs:enumeration value="LU" /> <!-- LUXEMBOURG -->
		<xs:enumeration value="MO" /> <!-- MACAO -->
		<xs:enumeration value="MK" /> <!-- MACEDOINE, L'EX-REPUBLIQUE YOUGOSLAVE DE -->
		<xs:enumeration value="MG" /> <!-- MADAGASCAR -->
		<xs:enumeration value="MY" /> <!-- MALAISIE -->
		<xs:enumeration value="MW" /> <!-- MALAWI -->
		<xs:enumeration value="MV" /> <!-- MALDIVES -->
		<xs:enumeration value="ML" /> <!-- MALI -->
		<xs:enumeration value="MT" /> <!-- MALTE -->
		<xs:enumeration value="MP" /> <!-- MARIANNES DU NORD, ILES -->
		<xs:enumeration value="MA" /> <!-- MAROC -->
		<xs:enumeration value="MH" /> <!-- MARSHALL, ILES -->
		<xs:enumeration value="MU" /> <!-- MAURICE -->
		<xs:enumeration value="MR" /> <!-- MAURITANIE -->
		<xs:enumeration value="MX" /> <!-- MEXIQUE -->
		<xs:enumeration value="FM" /> <!-- MICRONESIE, ETATS FEDERES DE -->
		<xs:enumeration value="MD" /> <!-- MOLDOVA, REPUBLIQUE DE -->
		<xs:enumeration value="MC" /> <!-- MONACO -->
		<xs:enumeration value="MN" /> <!-- MONGOLIE -->
		<xs:enumeration value="ME" /> <!-- MONTENEGRO -->
		<xs:enumeration value="MS" /> <!-- MONTSERRAT -->
		<xs:enumeration value="MZ" /> <!-- MOZAMBIQUE -->
		<xs:enumeration value="MM" /> <!-- MYANMAR -->
		<xs:enumeration value="NA" /> <!-- NAMIBIE -->
		<xs:enumeration value="NR" /> <!-- NAURU -->
		<xs:enumeration value="NP" /> <!-- NEPAL -->
		<xs:enumeration value="NI" /> <!-- NICARAGUA -->
		<xs:enumeration value="NE" /> <!-- NIGER -->
		<xs:enumeration value="NG" /> <!-- NIGERIA -->
		<xs:enumeration value="NU" /> <!-- NIUE -->
		<xs:enumeration value="NF" /> <!-- NORFOLK, ILE -->
		<xs:enumeration value="NO" /> <!-- NORVEGE -->
		<xs:enumeration value="NC" /> <!-- NOUVELLE-CALEDONIE -->
		<xs:enumeration value="NZ" /> <!-- NOUVELLE-ZELANDE -->
		<xs:enumeration value="IO" /> <!-- OCEAN INDIEN, TERRITOIRE BRITANNIQUE DE L' -->
		<xs:enumeration value="OM" /> <!-- OMAN -->
		<xs:enumeration value="UG" /> <!-- OUGANDA -->
		<xs:enumeration value="UZ" /> <!-- OUZBEKISTAN -->
		<xs:enumeration value="PK" /> <!-- PAKISTAN -->
		<xs:enumeration value="PW" /> <!-- PALAOS -->
		<xs:enumeration value="PS" /> <!-- PALESTINE, ETAT DE -->
		<xs:enumeration value="PA" /> <!-- PANAMA -->
		<xs:enumeration value="PG" /> <!-- PAPOUASIE-NOUVELLE-GUINEE -->
		<xs:enumeration value="PY" /> <!-- PARAGUAY -->
		<xs:enumeration value="NL" /> <!-- PAYS-BAS -->
		<xs:enumeration value="PE" /> <!-- PEROU -->
		<xs:enumeration value="PH" /> <!-- PHILIPPINES -->
		<xs:enumeration value="PN" /> <!-- PITCAIRN -->
		<xs:enumeration value="PL" /> <!-- POLOGNE -->
		<xs:enumeration value="PF" /> <!-- POLYNESIE FRANÇAISE -->
		<xs:enumeration value="PR" /> <!-- PORTO RICO -->
		<xs:enumeration value="PT" /> <!-- PORTUGAL -->
		<xs:enumeration value="QA" /> <!-- QATAR -->
		<xs:enumeration value="RO" /> <!-- ROUMANIE -->
		<xs:enumeration value="GB" /> <!-- ROYAUME-UNI -->
		<xs:enumeration value="RU" /> <!-- RUSSIE, FEDERATION DE -->
		<xs:enumeration value="RW" /> <!-- RWANDA -->
		<xs:enumeration value="EH" /> <!-- SAHARA OCCIDENTAL -->
		<xs:enumeration value="BL" /> <!-- SAINT-BARTHELEMY -->
		<xs:enumeration value="SH" /> <!-- SAINTE-HELENE, ASCENSION ET TRISTAN DA CUNHA -->
		<xs:enumeration value="LC" /> <!-- SAINTE-LUCIE -->
		<xs:enumeration value="KN" /> <!-- SAINT-KITTS-ET-NEVIS -->
		<xs:enumeration value="SM" /> <!-- SAINT-MARIN -->
		<xs:enumeration value="MF" /> <!-- SAINT-MARTIN(PARTIE FRANÇAISE) -->
		<xs:enumeration value="SX" /> <!-- SAINT-MARTIN (PARTIE NEERLANDAISE) -->
		<xs:enumeration value="PM" /> <!-- SAINT-PIERRE-ET-MIQUELON -->
		<xs:enumeration value="VA" /> <!-- SAINT-SIEGE (ETAT DE LA CITE DU VATICAN) -->
		<xs:enumeration value="VC" /> <!-- SAINT-VINCENT-ET-LES GRENADINES -->
		<xs:enumeration value="SB" /> <!-- SALOMON, ILES -->
		<xs:enumeration value="WS" /> <!-- SAMOA -->
		<xs:enumeration value="AS" /> <!-- SAMOA AMERICAINES -->
		<xs:enumeration value="ST" /> <!-- SAO TOME-ET-PRINCIPE -->
		<xs:enumeration value="SN" /> <!-- SENEGAL -->
		<xs:enumeration value="RS" /> <!-- SERBIE -->
		<xs:enumeration value="SC" /> <!-- SEYCHELLES -->
		<xs:enumeration value="SL" /> <!-- SIERRA LEONE -->
		<xs:enumeration value="SG" /> <!-- SINGAPOUR -->
		<xs:enumeration value="SK" /> <!-- SLOVAQUIE -->
		<xs:enumeration value="SI" /> <!-- SLOVENIE -->
		<xs:enumeration value="SO" /> <!-- SOMALIE -->
		<xs:enumeration value="SD" /> <!-- SOUDAN -->
		<xs:enumeration value="SS" /> <!-- SOUDAN DU SUD -->
		<xs:enumeration value="LK" /> <!-- SRI LANKA -->
		<xs:enumeration value="SE" /> <!-- SUEDE -->
		<xs:enumeration value="CH" /> <!-- SUISSE -->
		<xs:enumeration value="SR" /> <!-- SURINAME -->
		<xs:enumeration value="SJ" /> <!-- SVALBARD ET ILE JAN MAYEN -->
		<xs:enumeration value="SZ" /> <!-- SWAZILAND -->
		<xs:enumeration value="SY" /> <!-- SYRIENNE, REPUBLIQUE ARABE -->
		<xs:enumeration value="TJ" /> <!-- TADJIKISTAN -->
		<xs:enumeration value="TW" /> <!-- TAIWAN, PROVINCE DE CHINE -->
		<xs:enumeration value="TZ" /> <!-- TANZANIE, REPUBLIQUE-UNIE DE -->
		<xs:enumeration value="TD" /> <!-- TCHAD -->
		<xs:enumeration value="CZ" /> <!-- TCHEQUE, REPUBLIQUE -->
		<xs:enumeration value="TF" /> <!-- TERRES AUSTRALES FRANÇAISES -->
		<xs:enumeration value="TH" /> <!-- THAILANDE -->
		<xs:enumeration value="TL" /> <!-- TIMOR-LESTE -->
		<xs:enumeration value="TG" /> <!-- TOGO -->
		<xs:enumeration value="TK" /> <!-- TOKELAU -->
		<xs:enumeration value="TO" /> <!-- TONGA -->
		<xs:enumeration value="TT" /> <!-- TRINITE-ET-TOBAGO -->
		<xs:enumeration value="TN" /> <!-- TUNISIE -->
		<xs:enumeration value="TM" /> <!-- TURKMENISTAN -->
		<xs:enumeration value="TC" /> <!-- TURKS-ET-CAICOS, ILES -->
		<xs:enumeration value="TR" /> <!-- TURQUIE -->
		<xs:enumeration value="TV" /> <!-- TUVALU -->
		<xs:enumeration value="UA" /> <!-- UKRAINE -->
		<xs:enumeration value="UY" /> <!-- URUGUAY -->
		<xs:enumeration value="VU" /> <!-- VANUATU -->
		<xs:enumeration value="VE" /> <!-- VENEZUELA, REPUBLIQUE BOLIVARIENNE DU -->
		<xs:enumeration value="VN" /> <!-- VIET NAM -->
		<xs:enumeration value="WF" /> <!-- WALLIS ET FUTUNA -->
		<xs:enumeration value="YE" /> <!-- YEMEN -->
		<xs:enumeration value="ZM" /> <!-- ZAMBIE -->
		<xs:enumeration value="ZW" /> <!-- ZIMBABWE -->
		<xs:enumeration value="BV"/> <!-- BOUVET ILES -->
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Code Monnaie ISO 4217 -->
	<xs:simpleType name="CodeMonnaie">
		<xs:restriction base="xs:string">
		<xs:enumeration value="AED" />
		<xs:enumeration value="AFN" />
		<xs:enumeration value="ALL" />
		<xs:enumeration value="AMD" />
		<xs:enumeration value="ANG" />
		<xs:enumeration value="AOA" />
		<xs:enumeration value="ARS" />
		<xs:enumeration value="AUD" />
		<xs:enumeration value="AWG" />
		<xs:enumeration value="AZN" />
		<xs:enumeration value="BAM" />
		<xs:enumeration value="BBD" />
		<xs:enumeration value="BDT" />
		<xs:enumeration value="BGN" />
		<xs:enumeration value="BHD" />
		<xs:enumeration value="BIF" />
		<xs:enumeration value="BMD" />
		<xs:enumeration value="BND" />
		<xs:enumeration value="BOB" />
		<xs:enumeration value="BRL" />
		<xs:enumeration value="BSD" />
		<xs:enumeration value="BTN" />
		<xs:enumeration value="BWP" />
		<xs:enumeration value="BYR" />
		<xs:enumeration value="BZD" />
		<xs:enumeration value="CAD" />
		<xs:enumeration value="CDF" />
		<xs:enumeration value="CHF" />
		<xs:enumeration value="CLP" />
		<xs:enumeration value="CNY" />
		<xs:enumeration value="COP" />
		<xs:enumeration value="CRC" />
		<xs:enumeration value="CUC" />
		<xs:enumeration value="CUP" />
		<xs:enumeration value="CVE" />
		<xs:enumeration value="CZK" />
		<xs:enumeration value="DJF" />
		<xs:enumeration value="DKK" />
		<xs:enumeration value="DOP" />
		<xs:enumeration value="DZD" />
		<xs:enumeration value="EGP" />
		<xs:enumeration value="ERN" />
		<xs:enumeration value="ETB" />
		<xs:enumeration value="EUR" />
		<xs:enumeration value="FJD" />
		<xs:enumeration value="FKP" />
		<xs:enumeration value="GBP" />
		<xs:enumeration value="GEL" />
		<xs:enumeration value="GGP" />
		<xs:enumeration value="GHS" />
		<xs:enumeration value="GIP" />
		<xs:enumeration value="GMD" />
		<xs:enumeration value="GNF" />
		<xs:enumeration value="GTQ" />
		<xs:enumeration value="GYD" />
		<xs:enumeration value="HKD" />
		<xs:enumeration value="HNL" />
		<xs:enumeration value="HRK" />
		<xs:enumeration value="HTG" />
		<xs:enumeration value="HUF" />
		<xs:enumeration value="IDR" />
		<xs:enumeration value="ILS" />
		<xs:enumeration value="IMP" />
		<xs:enumeration value="INR" />
		<xs:enumeration value="IQD" />
		<xs:enumeration value="IRR" />
		<xs:enumeration value="ISK" />
		<xs:enumeration value="JEP" />
		<xs:enumeration value="JMD" />
		<xs:enumeration value="JOD" />
		<xs:enumeration value="JPY" />
		<xs:enumeration value="KES" />
		<xs:enumeration value="KGS" />
		<xs:enumeration value="KHR" />
		<xs:enumeration value="KMF" />
		<xs:enumeration value="KPW" />
		<xs:enumeration value="KRW" />
		<xs:enumeration value="KWD" />
		<xs:enumeration value="KYD" />
		<xs:enumeration value="KZT" />
		<xs:enumeration value="LAK" />
		<xs:enumeration value="LBP" />
		<xs:enumeration value="LKR" />
		<xs:enumeration value="LRD" />
		<xs:enumeration value="LSL" />
		<xs:enumeration value="LTL" />
		<xs:enumeration value="LVL" />
		<xs:enumeration value="LYD" />
		<xs:enumeration value="MAD" />
		<xs:enumeration value="MDL" />
		<xs:enumeration value="MGA" />
		<xs:enumeration value="MKD" />
		<xs:enumeration value="MMK" />
		<xs:enumeration value="MNT" />
		<xs:enumeration value="MOP" />
		<xs:enumeration value="MRO" />
		<xs:enumeration value="MUR" />
		<xs:enumeration value="MVR" />
		<xs:enumeration value="MWK" />
		<xs:enumeration value="MXN" />
		<xs:enumeration value="MYR" />
		<xs:enumeration value="MZN" />
		<xs:enumeration value="NAD" />
		<xs:enumeration value="NGN" />
		<xs:enumeration value="NIO" />
		<xs:enumeration value="NOK" />
		<xs:enumeration value="NPR" />
		<xs:enumeration value="NZD" />
		<xs:enumeration value="OMR" />
		<xs:enumeration value="PAB" />
		<xs:enumeration value="PEN" />
		<xs:enumeration value="PGK" />
		<xs:enumeration value="PHP" />
		<xs:enumeration value="PKR" />
		<xs:enumeration value="PLN" />
		<xs:enumeration value="PYG" />
		<xs:enumeration value="QAR" />
		<xs:enumeration value="RON" />
		<xs:enumeration value="RSD" />
		<xs:enumeration value="RUB" />
		<xs:enumeration value="RWF" />
		<xs:enumeration value="SAR" />
		<xs:enumeration value="SBD" />
		<xs:enumeration value="SCR" />
		<xs:enumeration value="SDG" />
		<xs:enumeration value="SEK" />
		<xs:enumeration value="SGD" />
		<xs:enumeration value="SHP" />
		<xs:enumeration value="SLL" />
		<xs:enumeration value="SOS" />
		<xs:enumeration value="SPL" />
		<xs:enumeration value="SRD" />
		<xs:enumeration value="STD" />
		<xs:enumeration value="SVC" />
		<xs:enumeration value="SYP" />
		<xs:enumeration value="SZL" />
		<xs:enumeration value="THB" />
		<xs:enumeration value="TJS" />
		<xs:enumeration value="TMT" />
		<xs:enumeration value="TND" />
		<xs:enumeration value="TOP" />
		<xs:enumeration value="TRY" />
		<xs:enumeration value="TTD" />
		<xs:enumeration value="TVD" />
		<xs:enumeration value="TWD" />
		<xs:enumeration value="TZS" />
		<xs:enumeration value="UAH" />
		<xs:enumeration value="UGX" />
		<xs:enumeration value="USD" />
		<xs:enumeration value="UYU" />
		<xs:enumeration value="UZS" />
		<xs:enumeration value="VEF" />
		<xs:enumeration value="VND" />
		<xs:enumeration value="VUV" />
		<xs:enumeration value="WST" />
		<xs:enumeration value="XAF" />
		<xs:enumeration value="XCD" />
		<xs:enumeration value="XDR" />
		<xs:enumeration value="XOF" />
		<xs:enumeration value="XPF" />
		<xs:enumeration value="YER" />
		<xs:enumeration value="ZAR" />
		<xs:enumeration value="ZMW" />
		<xs:enumeration value="ZWD" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- Code Monnaie EURO -->
	<xs:simpleType name="CodeMonnaieEUR">
		<xs:restriction base="xs:string">
		<xs:enumeration value="EUR" />
		</xs:restriction>
	</xs:simpleType>
	
	<!-- =======================================================
		QUANTITE
		======================================================== -->
	<xs:element name="Unite" type="NumAndUpperLettersMax3" />	
	
	<!-- =======================================================
		COORDONNEES
		======================================================== -->
	<xs:element name="Siret" type="Siret" />
	<xs:element name="CodeBanque" type="DigitFix5" />
	<xs:element name="Identifiant" type="String35" />
	<xs:element name="Designation" type="String35" />
	<xs:element name="DesignationSuite1" type="String35" />
	<xs:element name="DesignationSuite2" type="String35" />
	<xs:element name="DesignationSuite3" type="String35" />
	<xs:element name="ReferenceDossier" type="String70" />
	<xs:element name="Rof" type="Rof" />
	<xs:element name="ContactDesignation" type="String35" />
	<xs:element name="Telephone" type="String15" />
	<xs:element name="TelephonePortable" type="String15" />
	<xs:element name="Email" type="Email" />
	
	<!-- =======================================================
		TEXTE LIBRE
		======================================================== -->
	<xs:element name="TexteLibre1" type="String512" />
	<xs:element name="TexteLibre2" type="String512" />
	<xs:element name="TexteLibre3" type="String512" />
	<xs:element name="TexteLibre4" type="String512" />
	<xs:element name="TexteLibre5" type="String512" />
	
	<!-- =======================================================
		MONNAIE
		======================================================== -->
	<xs:element name="MonnaieSource" type="CodeMonnaie" />
	<xs:element name="MonnaieCible" type="CodeMonnaie" />
	<xs:element name="TauxChange" type="Decimal12" />
	
	<!-- =======================================================
		COORDONNEES BANCAIRES
		======================================================== -->
	<xs:element name="Iban" type="IbanSepa" />
	<xs:element name="Bic" type="Bic" />
	<xs:element name="TitulaireDesignation" type="String35" />
	<xs:element name="TitulaireDesignationSuite" type="String35" />
	<xs:element name="Compte" type="NumeroCompte13" />
	<xs:element name="Etablissement" type="CodeBancaire" />
	<xs:element name="Agence" type="CodeBancaire" />
	
	<!-- =======================================================
		ADRESSE 
		======================================================== -->
	<xs:element name="AdresseNumero" type="Digit4" />
	<xs:element name="AdresseType" type="RepetabiliteAdresse" /> <!-- déprécié mais maintenu pour la rétrocompatibilité (remplacé par AdresseRepetabilite) -->
	<xs:element name="AdresseRepetabilite" type="RepetabiliteAdresse" />	
	<xs:element name="AdresseVoie" type="String30" />
	<xs:element name="AdresseComplement" type="String35" />
	<xs:element name="AdresseHameau" type="String35" />
	<xs:element name="AdresseLibelleCommune" type="String35" />
	<xs:element name="AdresseCodePostal" type="String17" />
	<xs:element name="AdresseVille" type="String35" />
	<xs:element name="AdresseCodePays" type="CodePays" />
	<xs:element name="AdresseEtrangere1" type="String35" />
	<xs:element name="AdresseEtrangere2" type="String35" />
	<xs:element name="AdresseEtrangere3" type="String35" />
	<xs:element name="AdresseEtrangere4" type="String35" />
	<xs:element name="AdresseCodeDivisionTerritoriale" type="NumAndUpperLettersMax5" />
	<xs:element name="AdresseDivisionTerritoriale" type="String35" />
	
	<xs:complexType name="Adresse">
		<xs:sequence>
			<xs:element ref="AdresseNumero" minOccurs="0" maxOccurs="1" />
			<xs:choice>
				<xs:element ref="AdresseType" minOccurs="0" maxOccurs="1" /> <!-- déprécié mais maintenu pour la rétrocompatibilité (remplacé par AdresseRepetabilite) -->
				<xs:element ref="AdresseRepetabilite" minOccurs="0" maxOccurs="1" />
			</xs:choice>	
			<xs:element ref="AdresseVoie" minOccurs="1" maxOccurs="1" />
			<xs:element ref="AdresseComplement" minOccurs="0" maxOccurs="1" />
			<xs:element ref="AdresseHameau" minOccurs="0" maxOccurs="1" />
			<xs:element ref="AdresseDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
			<xs:element ref="AdresseCodeDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
			<xs:element ref="AdresseCodePostal" minOccurs="1" maxOccurs="1" />
			<xs:element ref="AdresseVille" minOccurs="1" maxOccurs="1" />
			<xs:element ref="AdresseCodePays" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Adresse" type="Adresse" />
	
	<!-- =======================================================
		Numéro de Compte
		======================================================== -->
	<xs:element name="CompteNumero" type="CompteNumero" />
	<xs:element name="CompteLibelleAbrege" type="String17" />
	<xs:element name="CompteLibelle" type="String35" />
	<xs:element name="CompteLibelleSuite" type="String35" />
	
	<!-- =======================================================
		Etat des formulaires
		======================================================== -->
		
	<!-- Enumération des états possibles pour les formulaires dans Web-déclarations -->
	<xs:simpleType name="Etat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VIDE" /> <!-- Formulaire sans aucun champ renseigné ou avec seulement des montants à zéro -->
			<xs:enumeration value="ENCOURS" /> <!-- Formulaire dont la saisie est en cours (contrôles de validation à exécuter) -->
			<xs:enumeration value="A_COMPLETER" /> <!-- Formulaire dont l'utilisateur doit impérativement compléter la saisie (contrôles de validation à exécuter) -->
			<xs:enumeration value="TERMINE" /> <!-- Formulaire dont la saisie est terminée (contrôles de validation OK) -->
			<xs:enumeration value="SOUMIS" /> <!-- Formulaire soumis à la traduction EDI (non modifiable) -->
		</xs:restriction>
	</xs:simpleType>

	<!-- Enumération des états que les clients peuvent utiliser -->
	<xs:simpleType name="EtatClient">
		<xs:restriction base="Etat">
			<xs:enumeration value="A_COMPLETER" /> <!-- Formulaire dont l'utilisateur doit impérativement compléter la saisie (contrôles de validation à exécuter) -->
		</xs:restriction>
	</xs:simpleType>
</xs:schema>