docs/ASP ONE/Documentation_XML-EDI (1)/Schemas/XmlEdiIr.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:include schemaLocation="./TypeBase.xsd"/>
			
	<!-- ### Définition des énumérations spécifiques à l'IR ### -->		
	
	<!-- Type Groupe Fonctionnel IR -->
	<xs:simpleType name="TypeGroupeFonctionnelIr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFENT" />
		</xs:restriction>
	</xs:simpleType>
		
	<!-- Type Rédacteur IR -->
	<xs:simpleType name="TypeRedacteurIr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEC_EDI_IR" />
			<xs:enumeration value="CEC_EDI_IR" />
			<xs:enumeration value="ATD_EDI_IR" />
		</xs:restriction>
	</xs:simpleType>		
			
	<!-- Type Destinataire IR -->
	<xs:simpleType name="TypeDestinataireIr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DGI_EDI_IR" /> <!-- DGFip -->
			<xs:enumeration value="GPA_EDI_IR" /> <!-- GPA identifié par SIRET (doit posséder un compte sur le portail) -->
		</xs:restriction>
	</xs:simpleType>	
	
	<!-- Type Déclaration IR -->
	<xs:simpleType name="TypeDeclarationIr">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IR" /> <!-- Déclaration de l'impôt sur le revenu -->
		</xs:restriction>
	</xs:simpleType>
			
			
	<!-- ### Définition des types complexes ### -->
	
	<!-- =======================================================
		Element racine XmlEdi
		======================================================== -->
	<xs:element name="XmlEdi" type="XmlEdi" />
	
	<xs:complexType name="XmlEdi">
		<xs:sequence>
			<xs:element name="GroupeFonctionnel" type="GroupeFonctionnel" minOccurs="1" maxOccurs="1"  />
		</xs:sequence>
		<xs:attribute name="Test" type="DigitBoolean" use="required" />
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel
		======================================================== -->
	<xs:complexType name="GroupeFonctionnel">
		<xs:sequence>
			<xs:element name="Declaration" type="Declaration" minOccurs="1" maxOccurs="1000" />
		</xs:sequence>
		<xs:attribute name="Type" type="TypeGroupeFonctionnelIr" use="required" />
	</xs:complexType>

	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration
		======================================================== -->
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="Emetteur" type="Emetteur" minOccurs="0" maxOccurs="1" />
			<xs:element name="Redacteur" type="Redacteur" minOccurs="1" maxOccurs="1" />
			<xs:element name="Redevable" type="Redevable" minOccurs="1" maxOccurs="1" />
			<xs:element name="PartenaireEdi" type="PartenaireEdi" minOccurs="0" maxOccurs="1" />
			<xs:element name="ListeDestinataires" type="ListeDestinataires" minOccurs="1" maxOccurs="1" />
			<xs:element name="ListeFormulaires" type="ListeFormulaires" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Type" type="TypeDeclarationIr" use="required" />
		<xs:attribute name="Reference" type="ReferenceDeclaration" use="required" />	
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / Emetteur
		======================================================== -->
	<xs:complexType name="Emetteur">
		<xs:sequence>
			<xs:element ref="Siret" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Designation" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>	
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / Redacteur
		======================================================== -->
	<xs:complexType name="Redacteur">
		<xs:sequence>
			<xs:element ref="Siret" minOccurs="0" maxOccurs="1" />
			<xs:element name="Designation" type="TypeRedacteurIr" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / Redevable
		======================================================== -->
	<xs:complexType name="Redevable">
		<xs:sequence>
			<xs:element name="Identifiant" type="NumeroFiscal" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Designation" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element name="ReferenceDossier" type="ReferenceDeclaration" minOccurs="0" maxOccurs="1" />
			<xs:element name="IdentifiantRedevable2" type="NumeroFiscal" minOccurs="0" maxOccurs="1" />
			<xs:element name="SirenActivitePrincipale" type="Siren" minOccurs="0" maxOccurs="1" />	
		</xs:sequence>
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / PartenaireEdi
		======================================================== -->
	<xs:complexType name="PartenaireEdi">
		<xs:sequence>
			<xs:element name="Identifiant" type="Agrement" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Designation" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />	
		</xs:sequence>
	</xs:complexType>
	
	<!-- ==================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeDestinataires
		=================================================================== -->
	<xs:complexType name="ListeDestinataires">
		<xs:choice>				
			<xs:element name="Destinataire" type="Destinataire" minOccurs="1" maxOccurs="2" />	
		</xs:choice>
	</xs:complexType>
	
	<!-- ========================================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeDestinataires / Destinataire
		========================================================================================= -->
	<xs:complexType name="Destinataire">			
		<xs:sequence>
			<xs:element name="Designation" type="TypeDestinataireIr" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="0" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ==================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires
		=================================================================== -->
	<xs:complexType name="ListeFormulaires">
		<xs:sequence>				
			<xs:element name="Identif0" type="Formulaire" minOccurs="1" maxOccurs="1" /> <!-- Formulaire d'identification 2042-I-0 non répétable -->
			<xs:element name="Identif1" type="Formulaire" minOccurs="0" maxOccurs="unbounded" /> <!-- Formulaire d'identification 2042-I-1 répétable -->
			<xs:element name="Identif2" type="Formulaire" minOccurs="1" maxOccurs="1" /> <!-- Formulaire d'identification 2042-I-2 non répétable -->
			<xs:element name="Identif3" type="Formulaire" minOccurs="0" maxOccurs="1" /> <!-- Formulaire d'identification 2042-I-3 non répétable -->
			<xs:element name="Formulaire" type="FormulaireDeclaratif" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ===========================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Identif
		============================================================================ -->
	<xs:complexType name="Formulaire">
		<xs:sequence>
			<xs:element name="Zone" type="Zone" minOccurs="1" maxOccurs="unbounded" />	
		</xs:sequence>
		<xs:attribute name="Millesime" type="DigitFix2" use="required" />
		<xs:attribute name="Repetition" type="Digit4" />
	</xs:complexType>
	
	<!-- ===========================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Formulaire
		============================================================================ -->
	<xs:complexType name="FormulaireDeclaratif" >
		<xs:complexContent>
			<xs:extension base="Formulaire">
				<xs:attribute name="Nom" type="NumAndLetters" use="required" />
				<xs:attribute name="Etat" type="EtatClient" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ====================================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Formulaire / Zone
		===================================================================================== -->
	<!-- Définition d'une Zone -->
	<xs:complexType name="Zone">
		<xs:choice>
			<!-- Zone Simple -->
			<xs:sequence>
				<xs:element name="Valeur" type="String512" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple de Coordonnées (NAD) -->
			<xs:sequence>
				<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Designation" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseNumero" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseRepetabilite" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVoie" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseComplement" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseHameau" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePostal" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVille" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseCodeDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere1" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere4" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Telephone" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="TelephonePortable" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Email" minOccurs="0" maxOccurs="1" />	
			</xs:sequence>
			<!-- Zone Multiple de Texte Libre (FTX) -->
			<xs:sequence>
				<xs:element ref="TexteLibre1" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TexteLibre2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre4" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre5" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple d'identification Financière (FII) -->
			<xs:sequence>
				<xs:element name="Iban" type="IbanSepa" minOccurs="1" maxOccurs="1" />
				<xs:element ref="Bic" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TitulaireDesignation" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TitulaireDesignationSuite" minOccurs="0" maxOccurs="1" />
			</xs:sequence>			
			<!-- Zone Multiple de Monnaie(CUX) -->
			<xs:sequence>
				<xs:element ref="MonnaieCible" minOccurs="1" maxOccurs="1" />
				<xs:element ref="MonnaieSource" minOccurs="0" maxOccurs="1" />			
				<xs:element ref="TauxChange" minOccurs="0" maxOccurs="1" />
			</xs:sequence>		
			<!-- Zone Répétable -->
			<xs:sequence>
				<xs:element name="Occurrence" type="Occurrence" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="id" type="UpperString2" use="required" />
	</xs:complexType>
	
	<!-- Définition d'une Occurrence -->
	<xs:complexType name="Occurrence">
		<xs:choice>
			<!-- Occurrence Simple -->
			<xs:sequence>
				<xs:element name="Valeur" type="String512" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
			<!-- Occurrence Multiple de Coordonnées (NAD) -->
			<xs:sequence>
				<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Designation" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseNumero" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseRepetabilite" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVoie" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseComplement" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseHameau" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePostal" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVille" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseCodeDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseDivisionTerritoriale" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere1" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseEtrangere4" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Telephone" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="TelephonePortable" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Email" minOccurs="0" maxOccurs="1" />	
			</xs:sequence>
			<!-- Occurrence Multiple de Texte Libre (FTX) -->
			<xs:sequence>
				<xs:element ref="TexteLibre1" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TexteLibre2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre4" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre5" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple d'identification Financière (FII) -->
			<xs:sequence>
				<xs:element name="Iban" type="IbanSepa" minOccurs="1" maxOccurs="1" />
				<xs:element ref="Bic" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TitulaireDesignation" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TitulaireDesignationSuite" minOccurs="0" maxOccurs="1" />
			</xs:sequence>	
			<!-- Occurrence Multiple de Monnaie(CUX) -->
			<xs:sequence>
				<xs:element ref="MonnaieCible" minOccurs="1" maxOccurs="1" />
				<xs:element ref="MonnaieSource" minOccurs="0" maxOccurs="1" />			
				<xs:element ref="TauxChange" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
					</xs:choice>
		<xs:attribute name="Numero" type="Digit4" use="required" />
	</xs:complexType>
	
</xs:schema>