docs/ASP ONE/Documentation_XML-EDI (1)/Schemas/XmlEdiTdfc.xsd

<?xml version="1.0" encoding="ISO-8859-15"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:include schemaLocation="./TypeBase.xsd"/>
	<xs:include schemaLocation="./XmlEdiBalance.xsd"/>		
	
	<!-- Type Groupe Fonctionnel TDFC INFENT -->
	<xs:simpleType name="TypeGroupeFonctionnel">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFENT" />
			<xs:enumeration value="BALANC" />
		</xs:restriction>
	</xs:simpleType>		
						
	<!-- Type Rédacteur TDFC INFENT -->
	<xs:simpleType name="TypeRedacteurTdfc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ENT_EDI_TDFC" />
			<xs:enumeration value="CEC_EDI_TDFC" />
			<xs:enumeration value="ATD_EDI_TDFC" />
			<xs:enumeration value="OGA_EDI_TDFC" />
			<xs:enumeration value="TPE_EDI_TDFC" />
			<xs:enumeration value="CAC_EDI_TDFC" />
		</xs:restriction>
	</xs:simpleType>		
			
	<!-- Type Destinataire TDFC INFENT -->
	<xs:simpleType name="TypeDestinataireTdfc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DGI_EDI_TDFC" /> <!-- DGFip -->
			<xs:enumeration value="BQE_EDI_TDFC" /> <!-- Banque Commerciale identifiée par son code banque (doit posséder un compte de type Banque sur le portail) -->
			<xs:enumeration value="ENT_EDI_TDFC" /> <!-- Entreprise identifiée par SIRET ou IDSP (doit posséder un compte de type Entreprise sur le portail) -->
			<xs:enumeration value="CEC_EDI_TDFC" /> <!-- Expert Comptable identifié par SIRET (doit posséder un compte de type Tiers-Déclarant sur le portail) -->
			<xs:enumeration value="OGA_EDI_TDFC" /> <!-- OGA identifié par SIRET (doit posséder un compte de type OGA sur le portail) -->
			<xs:enumeration value="TPE_EDI_TDFC" /> <!-- Entreprise sans conseil identifiée par SIRET ou IDSP (doit posséder un compte de type Entreprise sur le portail) -->
			<xs:enumeration value="ATD_EDI_TDFC" /> <!-- Autre Tiers-Déclarant identifié par SIRET (doit posséder un compte de type Tiers-Déclarant sur le portail) -->
			<xs:enumeration value="CAC_EDI_TDFC" /> <!-- Commissaire aux comptes identifié par SIRET (doit posséder un compte de type Tiers-Déclarant sur le portail) -->
		</xs:restriction>
	</xs:simpleType>	
	
	<!-- Type Déclaration TDFC INFENT -->
	<xs:simpleType name="TypeDeclarationTdfc">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRM" /> <!-- Compte Rendu de mission -->
			<xs:enumeration value="CVA" /> <!-- Déclaration CVAE -->
			<xs:enumeration value="IAT" /> <!-- Attestation -->
			<xs:enumeration value="IDF" /> <!-- Déclaration Fiscale -->
			<xs:enumeration value="ILF" /> <!-- Liasse Fiscale : à destination de la Banque de France uniquement -->
			<xs:enumeration value="LOY" /> <!-- Déclaration des Loyers -->
			<xs:enumeration value="IPT" /> <!-- Déclaration de Prix de Transfert -->
			<xs:enumeration value="IPP" /> <!-- Déclaration Pays par Pays -->
			<xs:enumeration value="ICG" /> <!-- Informations Centre de gestion : à destination des OGA uniquement -->
			<xs:enumeration value="IAA" /> <!-- Informations Association agréée : à destination des OGA uniquement -->
			<xs:enumeration value="ICA" /> <!-- Informations Centre de gestion agricole : à destination des OGA uniquement -->			
		</xs:restriction>
	</xs:simpleType>
			
	<!-- =======================================================
	Element racine XmlEdi
	======================================================== -->
	<xs:element name="XmlEdi" type="XmlEdi" />
	
	<xs:complexType name="XmlEdi">
		<xs:sequence>
			<xs:choice>
				<xs:sequence>
					<xs:element name="GroupeFonctionnel" type="GroupeFonctionnel" minOccurs="1" maxOccurs="2" />
				</xs:sequence>
			</xs:choice>			
		</xs:sequence>
		<xs:attribute name="Test" type="DigitBoolean" use="required" />
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel
		======================================================== -->
	
	<xs:complexType name="GroupeFonctionnel">
		<xs:choice>
			<xs:element name="Declaration" type="Declaration" minOccurs="1" maxOccurs="1000" />
			<xs:element name="Balance" type="Balance" minOccurs="1" maxOccurs="1000" />
		</xs:choice>		
		<xs:attribute name="Type" type="TypeGroupeFonctionnel" use="required" />
	</xs:complexType>
				
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration
		======================================================== -->
	<xs:complexType name="Declaration">
		<xs:sequence>
			<xs:element name="Emetteur" type="Emetteur" minOccurs="0" maxOccurs="1" />
			<xs:element name="Redacteur" type="Redacteur" minOccurs="1" maxOccurs="1" />
			<xs:element name="Redevable" type="Redevable" minOccurs="1" maxOccurs="1" />
			<xs:element name="PartenaireEdi" type="PartenaireEdi" minOccurs="0" maxOccurs="1" />
			<xs:element name="ListeDestinataires" type="ListeDestinataires" minOccurs="1" maxOccurs="1" />
			<xs:element name="ListeFormulaires" type="ListeFormulaires" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
		<xs:attribute name="Type" type="TypeDeclarationTdfc" use="required" />
		<xs:attribute name="Reference" type="ReferenceDeclaration" use="required" />	
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / Redacteur
		======================================================== -->
	<xs:complexType name="Redacteur">
		<xs:sequence>
			<xs:element name="Siret" type="PseudoSiret" minOccurs="1" maxOccurs="1" />
			<xs:element name="Designation" type="TypeRedacteurTdfc" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="1" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- =======================================================
		XmlEdi / GroupeFonctionnel / Declaration / Redevable
		======================================================== -->
	<xs:complexType name="Redevable">
		<xs:sequence>
			<xs:element name="Identifiant" type="PseudoSiren" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Designation" minOccurs="1" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="1" maxOccurs="1" />
			<xs:element name="ReferenceDossier" type="ReferenceDeclaration" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Rof" minOccurs="1" maxOccurs="1" />	
		</xs:sequence>
	</xs:complexType>
		
	<!-- ==================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeDestinataires
		=================================================================== -->
	<xs:complexType name="ListeDestinataires">
		<xs:choice>				
			<xs:element name="Destinataire" type="Destinataire" minOccurs="1" maxOccurs="3" />	
		</xs:choice>
	</xs:complexType>
	
	<!-- ========================================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeDestinataires / Destinataire
		========================================================================================= -->
	<xs:complexType name="Destinataire">			
		<xs:sequence>
			<xs:element name="Designation" type="TypeDestinataireTdfc" minOccurs="1" maxOccurs="1" />
			<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />
			<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />
			<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />
			<xs:element ref="Adresse" minOccurs="0" maxOccurs="1" />
			<xs:element ref="ReferenceDossier" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ==================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires
		=================================================================== -->
	<xs:complexType name="ListeFormulaires">
		<xs:sequence>				
			<xs:element name="Identif" type="Formulaire" minOccurs="1" maxOccurs="1" />	
			<xs:element name="Formulaire" type="FormulaireDeclaratif" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ===========================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Identif
		============================================================================ -->
		
	<xs:complexType name="Formulaire">
		<xs:sequence>
			<xs:element name="Zone" type="Zone" minOccurs="1" maxOccurs="unbounded" />	
		</xs:sequence>
		<xs:attribute name="Millesime" type="DigitFix2" use="required" />
	</xs:complexType>
	
	<!-- ===========================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Formulaire
		============================================================================ -->
	<xs:complexType name="FormulaireDeclaratif" >
		<xs:complexContent>
			<xs:extension base="Formulaire">
				<xs:attribute name="Nom" type="NumAndLetters" use="required" />
				<xs:attribute name="Repetition" type="Digit4" />
				<xs:attribute name="Etat" type="EtatClient" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- ====================================================================================
		XmlEdi / GroupeFonctionnel / Declaration / ListeFormulaires / Formulaire / Zone
		===================================================================================== -->
	<!-- Définition d'une Zone -->
	<xs:complexType name="Zone">
		<xs:choice>
			<!-- Zone Simple -->
			<xs:sequence>
				<xs:element name="Valeur" type="String512" minOccurs="1" maxOccurs="1" />
				<xs:element ref="Unite" minOccurs="0" maxOccurs="1" /> <!-- Nécessaire pour certaine quantité QTY -->
			</xs:sequence>
			<!-- Zone Multiple de Coordonnées (NAD) -->
			<xs:sequence>
				<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Designation" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="DesignationSuite3" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseNumero" minOccurs="0" maxOccurs="1" />	
				<xs:choice>
					<xs:element ref="AdresseType" minOccurs="0" maxOccurs="1" /> <!-- déprécié mais maintenu pour la rétrocompatibilité (remplacé par AdresseRepetabilite) -->
					<xs:element ref="AdresseRepetabilite" minOccurs="0" maxOccurs="1" />
				</xs:choice>		
				<xs:element ref="AdresseVoie" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseComplement" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseHameau" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePostal" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVille" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePays" minOccurs="0" maxOccurs="1" />
				<xs:element ref="Telephone" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Email" minOccurs="0" maxOccurs="1" />	
			</xs:sequence>
			<!-- Zone Multiple de Texte Libre (FTX) -->
			<xs:sequence>
				<xs:element ref="TexteLibre1" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TexteLibre2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre4" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre5" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple de Monnaie(CUX) -->
			<xs:sequence>
				<xs:element ref="MonnaieCible" minOccurs="1" maxOccurs="1" />
				<xs:element ref="MonnaieSource" minOccurs="0" maxOccurs="1" />				
				<xs:element ref="TauxChange" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple de Numéro de Compte (CPT) -->
			<xs:sequence>
				<xs:element ref="CompteNumero" minOccurs="1" maxOccurs="1" />
				<xs:element ref="CompteLibelleAbrege" minOccurs="0" maxOccurs="1" />
				<xs:element ref="CompteLibelle" minOccurs="0" maxOccurs="1" />
				<xs:element ref="CompteLibelleSuite" minOccurs="0" maxOccurs="1" />
			</xs:sequence>			
			<!-- Zone Répétable -->
			<xs:sequence>
				<xs:element name="Occurrence" type="Occurrence" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="id" type="UpperString2" use="required" />
	</xs:complexType>
	
	<!-- Définition d'une Occurrence -->
	<xs:complexType name="Occurrence">
		<xs:choice>
			<!-- Occurence Simple -->
			<xs:sequence>
				<xs:element name="Valeur" type="String512" minOccurs="1" maxOccurs="1" />
				<xs:element ref="Unite" minOccurs="0" maxOccurs="1" /> <!-- Nécessaire pour certaine quantité QTY -->
			</xs:sequence>
			<!-- Occurence Multiple de Coordonnées (NAD) -->
			<xs:sequence>
				<xs:element ref="Identifiant" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Designation" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite1" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite2" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="DesignationSuite3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="AdresseNumero" minOccurs="0" maxOccurs="1" />	
				<xs:choice>
					<xs:element ref="AdresseType" minOccurs="0" maxOccurs="1" /> <!-- déprécié mais maintenu pour la rétrocompatibilité (remplacé par AdresseRepetabilite) -->
					<xs:element ref="AdresseRepetabilite" minOccurs="0" maxOccurs="1" />
				</xs:choice>	
				<xs:element ref="AdresseVoie" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseComplement" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseHameau" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePostal" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseVille" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="AdresseCodePays" minOccurs="0" maxOccurs="1" />
				<xs:element ref="Telephone" minOccurs="0" maxOccurs="1" />	
				<xs:element ref="Email" minOccurs="0" maxOccurs="1" />	
			</xs:sequence>
			<!-- Occurence Multiple de Texte Libre (FTX) -->
			<xs:sequence>
				<xs:element ref="TexteLibre1" minOccurs="1" maxOccurs="1" />
				<xs:element ref="TexteLibre2" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre3" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre4" minOccurs="0" maxOccurs="1" />
				<xs:element ref="TexteLibre5" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Occurence Multiple de Monnaie(CUX) -->
			<xs:sequence>
				<xs:element ref="MonnaieCible" minOccurs="1" maxOccurs="1" />
				<xs:element ref="MonnaieSource" minOccurs="0" maxOccurs="1" />				
				<xs:element ref="TauxChange" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
			<!-- Zone Multiple de Numéro de Compte (CPT) -->
			<xs:sequence>
				<xs:element ref="CompteNumero" minOccurs="1" maxOccurs="1" />
				<xs:element ref="CompteLibelleAbrege" minOccurs="0" maxOccurs="1" />
				<xs:element ref="CompteLibelle" minOccurs="0" maxOccurs="1" />
				<xs:element ref="CompteLibelleSuite" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:choice>
		<xs:attribute name="Numero" type="Digit4" use="required" />
	</xs:complexType>
	
</xs:schema>